.footer {
    width: 100%;
    padding: 2rem 5%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 1024px) {
    .footer {
      padding: 3rem 10%;
    }
  }
  